

<thead>
	<tr>
		<th>Course ID</th>
		<th>Course Name</th>
		<th>Due Date</th>
		<th>Complete</th>
	</tr>
</thead>
<tbody>
	{{#data}}
		<tr>
			<td style="text-align: center;">{{_id}}</td>
			<td style="text-align: left;">{{name}}</td>
			<td style="text-align: left;">{{#due}}{{due}}{{/due}}{{^due}}N/A{{/due}}</td>
			<td style="text-align: left;">
				<label class="switch">
					<input {{status}} onchange="markCourse(event, this)" id="course-{{_id}}" type="checkbox" />
					<span class="slider"></span>
				</label>
			</td>
		</tr>
	{{/data}}
</tbody>