<!-- css stolen from  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch -->


<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

</style>

<h1 style="margin-top: 100px;">Hello {{email-address}}</h1>

<p class="lead">
	Below is a list of courses and what not that you're responsible for:
</p>

<table class="table table-bordered" id="course-table"></table>


<script>
	$.when(
		//
		// Load courses first...
		//
		$.get("/training_api/api/courses", function(courses){
			return courses;
		}),
	
		//
		// Get the user's data next
		//
		$.get("/training_api/api/user/data",function(user){
			return user;
		})
	
	
	).then(function(courses, user){
		//
		// Get data normalized from whatever
		//
		courses = courses[0];
		user = user[0];
		
		//
		// Map and filter out everything
		// so that only courses the user
		// should see...are shown...
		//
		
		//1.) First convert the hash map of courses into an array
		//    of objects
		var table = Object.keys(courses).map(function(course){
		
			//
			// TODO: Put logic here based on how we record that the user did stuff...
			//
			if(user.courses[course]){
				
				//
				// UGH...
				//
				user.courses[course].sort(function(a,b){return a > b ? -1 : 1});
			
				if(user.courses[course][0].checked){
					if(user.courses[course][0].checked === "true"){
						courses[course].checked = "checked";
					}
				}
			}
		
			return courses[course]
		})
		// 2.) Then, remove anything the user shouldn't see based on their role...
		//
		.filter(function(course){
			//
			for(role in user.roles){
				if(course.roles[role]){
					return true;
				}
			}
			return false;
		})


		
		$("#course-table").html(window.templates["course/course-table.html"].render({"data": table}));

	})


	//
	// Function to record what the user changed
	//
	function markCourse(ev, el){
		//
		// Get the course ID out of the event...
		//
		var id = ev.target.id;
		id = id.match(/[0-9]+/)[0];
	
		$.ajax({
			"url": `/training/api/user/course/${id}`,
			"method": "POST",
			"data": {
				"checked": ev.target.checked,
				"user": window.globals.session["email-address"]
			}
		})
	}








</script>