	<h3 style="text-align: left; border-width: 0 0 2px; border-color: lightgray;">Create User: 				
		<input 
			style="font-size: 20px; outline: 0; border-width: 0 0 0px; border-color: lightgray; width: 60%;"
			type="email" 
			id="createUserEmail" 
			name="createUserEmail" 
			placeholder="(Enter Argentic Email Address Here)" 
			required="" 
			autofocus="" 
			pattern=".*argenticmgmt.*"
		/>
		<span role="button" onclick="create_user()" style="outline: 0; border-width: 0 0 2px; border-color: lightgray;" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	</h3>

