{{#data}}
	<div class="row card">

		<span style="float:right; font-size: 26px; margin-top: -10px; margin-right: 10px;" onclick="window.globals.utilities.toggler(this, event)"; role="button">+</span>

			<div class="faq col-xs-11">
				<div class="left-faq col-lg-3 col-md-3 col-sm-3 col-xs-3">
					User Id
				</div>
				<div class="right-faq col-lg-9 col-md-9 col-sm-9 col-xs-9">
					{{email}}
				</div>
			</div>
			
			
		<div class="toggler" style="display: none;">
			<div class="faq col-xs-11">
				<div class="left-faq col-lg-3 col-md-3 col-sm-3 col-xs-3">
					Created
				</div>
				<div class="right-faq col-lg-9 col-md-9 col-sm-9 col-xs-9">
					{{created}}
				</div>
			</div>
			
			
			<div class="faq col-xs-11">
				<div style="vertical-align: middle" class="left-faq col-lg-3 col-md-3 col-sm-3 col-xs-3">
					Roles
				</div>
				<div class="right-faq col-lg-9 col-md-9 col-sm-9 col-xs-9">
					{{#roles}}
						<div style="margin-top: 0px;" class="checkbox">
							<label for="roles-{{email}}-{{_id}}">
								<input data-email="{{email}}" data-role="{{_id}}" oninput="handle_check(this,event)" {{#checked}}checked{{/checked}} type="checkbox" name="roles-{{email}}-{{_id}}" id="roles-{{email}}-{{_id}}" value="{{name}}">
								{{name}}
							</label>
						</div>
					{{/roles}}
				</div>
			</div>


			<div class="faq col-xs-11">
				<div class="left-faq col-lg-3 col-md-3 col-sm-3 col-xs-3">
					Show Courses
				</div>
				<div class="right-faq col-lg-9 col-md-9 col-sm-9 col-xs-9">
					<span role="button" style="color: #337ab7;" onClick="show_user_courses('{{email}}', this)" href="#" id="{{email}}" class="delete-me">CLICK HERE</span>
				</div>
			</div>
			

			<div class="faq col-xs-11">
				<div class="left-faq col-lg-3 col-md-3 col-sm-3 col-xs-3">
					Delete
				</div>
				<div class="right-faq col-lg-9 col-md-9 col-sm-9 col-xs-9">
					<span role="button" style="color: #337ab7;" onClick="delete_user('{{email}}', this)" href="#" id="{{email}}" class="delete-me">CLICK HERE</span>
				</div>
			</div>


		</div>
	</div>
{{/data}}