<!--
<table class="table table-bordered" id="course-table">
	<thead>
		<tr>
			<th style="text-align: center;">E-Mail</th>
			<th style="text-align: center;">Created</th>
			<th style="text-align: center;">Roles</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{#data}}
			<tr>
				<td style="text-align: center;">{{email}}</td>
				<td style="text-align: center;">{{created}}</td>
				<td style="text-align: center;">{{role_name}}</td>
				<td> <a class="btn btn-danger" onClick="delete_user('{{email}}', this)" href="#" id="{{email}}" class="delete-me">DELETE</a></td>
			</tr>
		{{/data}}
	</tbody>
</table>

-->

{{#data}}
	<div class="col-md-9 card">
	
		<div class="faq col-xs-12">
            <div class="left-faq col-lg-3 col-md-3 col-sm-3 col-xs-3">
                User Id
            </div>
            <div class="right-faq col-lg-9 col-md-9 col-sm-9 col-xs-9">
				{{email}}
            </div>
        </div>
		
		<div class="faq col-xs-12">
            <div class="left-faq col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Created
            </div>
            <div class="right-faq col-lg-9 col-md-9 col-sm-9 col-xs-9">
				{{created}}
            </div>
        </div>
		
		<div class="faq col-xs-12">
            <div style="vertical-align: middle" class="left-faq col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Roles
            </div>
            <div class="right-faq col-lg-9 col-md-9 col-sm-9 col-xs-9">
				{{#roles}}
					<div style="margin-top: 0px;" class="checkbox">
						<label for="roles-{{email}}-{{_id}}">
							<input data-email="{{email}}" data-role="{{_id}}" oninput="handle_check(this,event)" {{#checked}}checked{{/checked}} type="checkbox" name="roles-{{email}}-{{_id}}" id="roles-{{email}}-{{_id}}" value="{{name}}">
							{{name}}
						</label>
					</div>
				{{/roles}}
            </div>
        </div>

		<div class="faq col-xs-12">
            <div class="left-faq col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Delete
            </div>
            <div class="right-faq col-lg-9 col-md-9 col-sm-9 col-xs-9">
				<a onClick="delete_user('{{email}}', this)" href="#" id="{{email}}" class="delete-me">CLICK HERE</a>
            </div>
        </div>

		
	</div>
{{/data}}