    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/training/">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li {{#state.home}}class="active"{{/state.home}}><a href="/training/">Home</a></li>
			{{#valid}}
            <li {{#state.courses}}class="active"{{/state.courses}}><a href="/training/courses">Courses</a></li>
			<li {{#state.admin}}class="active"{{/state.admin}}><a href="/training/admin">Admin</a></li>
			<li><a href="/api/validate/reset">Log Out</a></li>
            {{/valid}}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	
	<!--
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
	-->
	<div class="container">
		<div id="state-message">
			{{> partial}}
		</div>
	</div>
    <!--
		  </div>
        </div>
      </div>
    </div>
	-->
