	<h3 style="text-align: left; border-width: 0 0 2px; border-color: lightgray;">Create Course: 				
		<input 
			style="font-size: 20px; outline: 0; border-width: 0 0 0px; border-color: lightgray; width: 60%;"
			type="text" 
			id="createCourse" 
			name="createCourse" 
			placeholder="(Enter Course Name)" 
		/>
		<span role="button" onclick="create_course()" style="float: right; outline: 0; border-width: 0 0 2px; border-color: lightgray;" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	</h3>
	
	<hr />
