<h1 style="margin-top: 100px">Site Administration</h1>
<hr />
<div class="col-md-12">
    <!-- CONTAINER FOR INSTRUCTIONS -->
    <div class="col-md-2" role="main">
        <!-- Nav tabs -->
        <ul class="nav nav-pills nav-stacked" role="tablist">
            <li role="presentation" class="active">
                <a href="#users" aria-controls="users" role="tab" data-toggle="tab">Users</a>
            </li>
            <li role="presentation">
                <a href="#courses" aria-controls="courses" role="tab" data-toggle="tab">Courses</a>
            </li>
            <li role="presentation">
                <a href="#roles" aria-controls="roles" role="tab" data-toggle="tab">Roles</a>
            </li>
            <li role="presentation">
                <a href="#reports" aria-controls="reports" role="tab" data-toggle="tab">Reports</a>
            </li>
        </ul>
    </div>
    <!-- CONTAINER FOR TATTLER TABLE-->
    <div class="col-md-10">
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="users">
                {{> admin/users/index.html}}
            </div>
            <div role="tabpanel" class="tab-pane" id="courses">
                {{> admin/courses/index.html}}
            </div>
            <div role="tabpanel" class="tab-pane" id="roles">
                {{> apv_match}}
            </div>
            <div role="tabpanel" class="tab-pane" id="reports">
                {{> apv_match}}
            </div>
        </div>
    </div>
</div>